/* .home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #0e0505f0, #4e4d4d, #8ea5a5fc, #0e0a0a);
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #bab4ac;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
} */

/* .home-container .animation-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px; */

body {
  background-color: #606468;
}

.home-container .nav-item a {
  color: #23d497;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
}
#tyre1,
#tyre2 {
  transform-box: fill-box;
  transform-origin: center;
}

#padel {
  transform-box: fill-box;
  transform-origin: 91% 49%;
}
